body{
margin:0;
background:#0f0f0f;
color:white;
font-family:Arial;
}

header{
padding:15px;
background:#111;
position:sticky;
top:0;
z-index:100;
}

#searchInput{
width:70%;
padding:10px;
border:none;
border-radius:8px;
background:#222;
color:white;
}

button{
padding:10px;
border:none;
border-radius:8px;
background:#ff0050;
color:white;
cursor:pointer;
}

.filters{
margin-top:10px;
display:flex;
gap:8px;
overflow:auto;
}

.filters button{
background:#222;
padding:8px 12px;
border-radius:20px;
}

#gallery{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
padding:10px;
}

.card{
position:relative;
}

.card img{
width:100%;
border-radius:12px;
}

.buttons{
position:absolute;
bottom:8px;
left:8px;
right:8px;
display:flex;
gap:5px;
}

.low{
flex:1;
background:#333;
padding:6px;
border-radius:6px;
text-align:center;
}

.hd{
flex:1;
background:#ff0050;
padding:6px;
border-radius:6px;
text-align:center;
}

#loader{
text-align:center;
padding:20px;
}
